<form method="POST" action="/searched" class="mg-b-20">
    <div class="mx-sm-3 mb-2 form-group">
        <input type="text" placeholder="Firstname ..." class="form-control form" name="firstname">
    </div>
    <div class="mx-sm-3 mb-2 form-group">
        <input type="text" placeholder="LastName ..." class="form-control form" name="lastname">
    </div>
    <div class="mx-sm-3 mb-2 form-group">
        <input type="text" placeholder="Phone" class="form-control">
    </div>
    <div class="mx-sm-3 mb-2 form-group">
        <button type="submit" class="btn btn-secondary mb-2">SEARCH</button>
</div>

    </form>